.title
{
    position: absolute;
    height: 0px;
    width: 100%;
}

.title h1
{
    color: black;
    font-size: 450%;
    text-align: center;
    margin-top: 7.5%;
}

.about 
{
    text-align: center;
    font-size: 150%;
}

.about p
{
    font-size: 150%;
}