<!DOCTYPE html>
<html>
<head>
    <title> PPT_PAGE_TITLE </title>
    <link href= PPT_STYLE_SHEET rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="row">
            <div class="logo">
                <a href="home.html"><img src="res/Logo.png"></a>
            </div>
            <ul class="main-nav">
                <li class= PPT_HOME_ACTIVE ><a href="home.html"> HOME </a></li>
                <li class= PPT_ABOUT_ACTIVE><a href="about.html"> ABOUT </a></li>
                <li class= PPT_COMPETITIONS_ACTIVE ><a href="competitions.html"> COMPETITIONS </a></li>
                <li class= PPT_EVENTS_ACTIVE ><a href="events.html"> EVENTS </a></li>
                <li class= PPT_MEMBERS_ACTIVE ><a href="members.html"> MEMBERS </a></li>
            </ul>
        </div>
            
         PPT_PAGE_CONTENT 

    </header>
</body>
</html>